@model Tesismvc.Models.Matricula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido_p)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido_p)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genero1.Genero1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genero1.Genero1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_Matricula }) |
    @Html.ActionLink("Back to List", "Index")
</p>
