@model IEnumerable<Tesismvc.Models.Matricula>

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/Content/Tablas1.css" rel="stylesheet" type="text/css" />
</head>
<h2>Matriculas</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            Apellido paterno
        </th>
        <th>
            Apellido materno
        </th>
        <th>
            Fecha de nacimiento
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </th>
        <th>
            Genero
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Rut)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Apellido_p)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Apellido_m)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Fecha_Nacimiento)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Direccion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Telefono)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nacionalidad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.genero1.Genero1)
    </td>
    @if (User.IsInRole("Admin"))
    { 
       <td>
           @Html.ActionLink("Edit", "Edit", new { id = item.id_Matricula }) |
           @Html.ActionLink("Details", "Details", new { id = item.id_Matricula }) |
           @Html.ActionLink("Delete", "Delete", new { id = item.id_Matricula })
       </td>
    }
        
</tr>
    }

</table>
