@model IEnumerable<Tesismvc.Models.Alumnos>

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/Content/Tablas1.css" rel="stylesheet" type="text/css" />
</head>
<h2>Alumnos</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Registrar", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            Apellido Paterno
        </th>
        <th>
            Apellido Materno
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            Curso
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido_p)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido_m)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Nombre_Curso)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id_Alumno }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id_Alumno }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id_Alumno })
                </td>
            }

        </tr>
    }

</table>
